<h3>Ny plats</h3>

<form action="/places" method="post">
	<label>Namn på plats <input type="text" name="place_name"></label><br>
	<label>Rating <input type="text" name="place_rating"></label><br>
	<label>Review <input type="text" name="place_review"></label><br>
	<input type="submit" value="Spara">
</form>