<h2>Mer info om: <%= @place['name'].capitalize %></h2>

<p><em>Poäng: </em> <%= @place['rating'] %></p>
<p><em>Review: </em> <%= @place['review'] %></p>

<h5><a href="/places">Tillbaka till startsidan</a></h5>
