<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slutprojekt</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <header>
    <h1>View-Finder</h1>
    <nav>
      <a href="/places/new" class="btn">Ny plats</a>
    </nav>
  </header>

<main>
  <section class="sidebar">
    <h2>
      <a>Kategorier:</a>

    </h2>
    <ul>
      <% @categories.each do |category| %>
        <li>
          <a href="/categories/<%= category['id'] %>"> <%= category['name'] %> </a>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="content">
    <%= yield %>
  </section>
</main>
 <footer>
  <div>
    <a href="#">Om oss</a>
    <a href="#">Kontakt</a>
    <a href="#">Inställningar</a>
  </div>
</footer>

</body>
</html>
