<h2>Logga in</h2>

<form action="/login" method="POST">
  <label>Användarnman: <input type="text" value="lovisa" name="username" id="username" required></label>

  <label for="password">Lösenord: <input type="password" value="1234" name="password" id="password" required></label>

  <button type="submit">Logga in</button>
</form>