<h2>Platser från kategorin <%= @category['name'].capitalize %></h2>
 
    <% @places.each do |place| %>
        <li>
            <a href="/places/<%= place['place_id'] %>"> <%= place['place_name'] %> </a>
        </li>
    <% end %>

<h5><a href="/places">Tillbaka till startsidan</a></h5>